  <footer class="text-white text-center bg-gray-900 mt-auto p-4">
    <p class="text-sm md:text-base font-bold">{{ footer.copyright|raw }}</p>
    <p class="text-xs md:text-sm font-thin">{{ footer.by }}</p>
  </footer>

  <script src="components/script.js"></script>
  
</body>
</html>